<main>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/comentarios" method="post" enctype="multipart/form-data">
                    <input type="text" name="autor" class="form-control" placeholder="Seu nome">

                    <input type="text" class="form-control" name="comentario" placeholder="Insira o seu comentario">

                    <input type="submit" class="btn btn-primary" value="Comentar">

                </form>
            </div>
        </div>
    </div>
</main>