<main>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <form action="/noticias" method="post" enctype="multipart/form-data">
                    <input type="text" name="nome" class="form-control" placeholder="Título da notícia">

                    <input type="text" class="form-control" name="descricao" placeholder="Insira a descrição da noticia">

                    <input class="form-control" name="imagem" type="file">

                    <input type="text" class="form-control" name="autor" placeholder="Nome do autor">

                    <input type="submit" class="btn btn-primary" value="Adicionar">

                </form>
            </div>
        </div>
    </div>
</main>